@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;700&display=swap');
@import '/node_modules/video-react/dist/video-react.css';
@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');


.App {
 
 background-color: white
}

#video-play-div {


}

.video-js .vjs-tech {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 90%;
}

#video-tag-box {

  border-radius: 90%;
}

#video-player-column {
  height: 56vw;
}
#video-player-row {
  
}

#dream-bubble-image {
  width: 43vw;
}

#maizey {
  height: auto;
  width: auto;
  max-width: 28vw;
  position: relative;
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

#welcome-container {
  /* background: url(/media/DreamWeaver.png);
  background-size: contain; */
  /* background-repeat: none; */
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

div#welcome-title-container {
  /* border-style: solid;
  width: fit-content;
  border-radius: 43px;
  margin-top: 25px; */
}

.player.video-player {
  width: auto;
  height: auto;
  max-width: 43%;
  max-height: 60%;
}

#bubble-image {
  position: relative;
  right: -42vw;
  top: -69px;
}

.static.welcome-video {
  font-family: 'Baloo Tamma 2', cursive;
  color:black;
  text-align: -webkit-center;
 
  /* padding-bottom: 1%; */
}

.welcome-title {
  font-family: 'Walter Turncoat', cursive;
  font-size: 100px;
}



.video-player-component {
  border-radius: 90%;

}

#center-dream-bubble {

}




/* AUTH PAGE */

#auth-main-container {
  background: url(/media/auth-background.png);
  background-size: cover; 
  background-repeat: no-repeat
}

#auth-form-row {
  margin-top: 2%;
  margin-bottom: 7%
}

.auth-form {
  color: #fff;
}

.auth-title {
  text-align: center;
  font-size: 2vw;
  height: 17vw;
}
#login-column {
  border-style: solid;
  border-color: white;
  border-radius: 38px;
  margin-right: 3%;
  height: fit-content;
}

#login-form {

}

.auth-form-column {
  padding-bottom: 8px;
}

.auth-form-group {
  margin-top: 4%;
  border-radius: 50px
}

.form-control {
  border-radius: 10px;
}

#register-column {
  margin-left: 3%;
  border-color: white;
  border-style: solid;
  border-radius: 38px;
}

#register-form {

}

.auth-form-button {
  text-align: center;
}



.custom-navbar {
  
 

}

.ui.inverted.button {
  border-radius: 13px;
}

#new-entry-submit-button{
  text-align: center;
}

#nav-planet {
  margin-top: 43px;
  margin-left: 0px;
}

img.orbit {
  width: auto;
  height: auto;
  max-width: 123px;
}

#dashboard-main-container {
  background: url(/media/dashboard-background.png);
  background-size: auto; 
  background-repeat: repeat-y
}

#dashboard-title {
  text-align: center;
 
}

#dashboard-title-image {
  height: 8vw;
  width: auto;
}

#dashboard-content-row {
  margin-top: 3%
}

#dream-description-form {
  min-height: 12vw;
}

#new-dream-form {
  border-style: solid;
  border-color: white;
  color: white;
  border-radius: 5%;
  margin-top: 5%
}

.new-entry-label {
  margin-top: 4%
}

#microphone-icon {
  height: 3vw;
}

#recent-dreams-heading {
  position: relative;
  right: 57px;
  height: 6vw;
  width: auto;
}

#recent-entry-card {
  margin-top: 2vw;
  border-style: solid;
  color: white;
  border-color: white;
  border-radius: 11px;
  min-height: 4vw;
}

#recent-entry-container {
  margin-top: 3vw;
  color: white
}



#recent-entry-title {
 
}

#recent-entry-date {
  font-style: italic;
}

#recent-entry-card-view-description-button {

}

#learn-symbol-container {
  border-style: solid;
  border-color: white;
  color: white;
  border-radius: 11px
}

#dream-index-container {
  background: url(/media/dashboard-background.png);
  background-size: auto; 
  background-repeat: repeat-y;
}

.entry-card {
  width: auto;
  margin-bottom: 2vw;
}

.entry-card-title {
  text-transform: capitalize;
  font-style: italic;
}

.entry-card-divider {
  height: 2px;
  background-color: white
}


div#dream-entry-container {
  min-height: 50vw;
}


#learn-dream-symbols-image {

}

#learn-dream-symbol-image-div {
  
}


















@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
.icon {
font-family: 'Material Icons', serif;
font-style: normal;
display: inline-block;
vertical-align: middle;
line-height: 1;
text-transform: none;
letter-spacing: normal;
word-wrap: normal;
white-space: nowrap;
direction: ltr;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
-moz-osx-font-smoothing: grayscale;
font-feature-settings: 'liga';
}
/* GENERAL */
* {
box-sizing: border-box;
}
body {
font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
font-size: 1em;
font-weight: 300;
line-height: 1.5;
position: relative;
}
header {
display: block;
width: 100%;
padding: 1.75em 0;
border-bottom: 1px solid lightgray;
background: white;
}
/* GRID */
.row {
margin: 0;
padding: 0;
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
}
.row-middle {
align-items: center;
}
.column {
flex-grow: 1;
flex-basis: 0;
max-width: 100%;
}
/* Calendar */
.calendar {
display: block;
position: relative;
width: 100%;
background: white;
border: 1px solid lightgray;
height: auto;
margin:0 auto;
}
.calendar .header {
text-transform: uppercase;
font-weight: 700;
font-size: 115%;
padding: 1.5em 0;
border-bottom: 1px solid lightgray;
text-align: center;
}
.calendar .header .icon {
cursor: pointer;
transition: .15s ease-out;
}
.calendar .header .icon:hover {
transform: scale(1.75);
transition: .25s ease-out;
color: dodgerblue;
}
.calendar .header .icon:first-of-type {
margin-left: 1em;
}
.calendar .header .icon:last-of-type {
margin-right: 1em;
}
.calendar .days {
text-transform: uppercase;
font-weight: 400;
color: gray;
font-size: 70%;
padding: .75em 0;
border-bottom: 1px solid lightgray;
text-align-last: center;
}
.calendar .body .cell {
position: relative;
height: 4em;
border-right: 1px solid lightgray;
overflow: hidden;
cursor: pointer;
background: white;
transition: 0.25s ease-out;
}
.calendar .body .cell:hover {
background: whitesmoke;
transition: 0.5s ease-out;
}
.calendar .body .selected {
border-left: 10px solid transparent;
border-image: linear-gradient(45deg, #1affa0 0%,#cff153 40%);
border-image-slice: 1;
}
.calendar .body .row {
border-bottom: 1px solid lightgray;
}
.calendar .body .row:last-child {
border-bottom: none;
}
.calendar .body .cell:last-child {
border-right: none;
}
.calendar .body .cell .number {
position: absolute;
font-size: 82.5%;
line-height: 1;
top: .75em;
right: .75em;
font-weight: 700;
}
.calendar .body .cell:hover .number, .calendar .body .selected .number   {
visibility:hidden;
}
.calendar .body .disabled {
color: lightgray;
pointer-events: none;
}
.calendar .body .cell .bg {
font-weight: 700;
line-height: 1;
color: #1affa0;
opacity: 0;
font-size: 5em;
position: absolute;
top: -.2em;
right: -.05em;
transition: .25s ease-out;
letter-spacing: -.07em;
}
.calendar .body .cell:hover .bg, .calendar .body .selected .bg  {
opacity: 0.2;
transition: .5s ease-in;
}
.calendar .body .column {
flex-grow: 0;
flex-basis: calc(100%/7);
width: calc(100%/7);
}
